<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
      
       <!-- BoyConstructor.java -->
	<bean id="chinaGirlFriend" class="com.zlj.spring.set.ChinaGirlFriend">
		<property name="language" value="chinese" />
	</bean>
	
	<bean id="boyConstructor" class="com.zlj.spring.set.BoyConstructor">
			<!--通过构造方法注入对象  -->
		<constructor-arg ref="chinaGirlFriend"/>
	</bean>
	<!-- boySetter.java -->
	<bean id="japanGirlFriend" class="com.zlj.spring.set.JapanGirlFriend">
		<property name="language" value="japanese" />
	</bean>
	<bean id="boySetter" class="com.zlj.spring.set.BoySetter">
		<!--通过set方法注入对象  -->
		<property name="girlFriend" ref="japanGirlFriend" />
	</bean>
	<!-- boyPNameSpace.java -->
	<bean id="usaGirlFriend" class="com.zlj.spring.set.UsaGirlFriend"
		p:language="english"/>	
		<!-- 通过p命名空间 注入属性值-->
	<bean id="boyPNameSpace" class="com.zlj.spring.set.BoyPNameSpace"
		p:girlFriend-ref="usaGirlFriend"/>	
	
	
	
</beans>